<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target xsi:type="Database" name="database"
            connectionString="Data Source=LEVY;Initial Catalog=LogServer;User ID=sa;Password=123456;"
            commandText="insert into TestLog 
              ([LogTime], [LogLevel], [Message], 
              [Host],[ExpType],[MethodName],[ExDetail]) 
              values (@LogTime,@LogLevel, @Message, 
              @Host,@ExpType,@MethodName,@ExDetail)
              ;">
      <parameter name="@Host" layout="${machinename}" />
      <parameter name="@LogTime" layout="${longdate}"/>
      <!--日志发生时间-->
      <parameter name="@LogLevel" layout="${level}"/>
      <!--日志等级-->
      <parameter name="@Message" layout="${message}"/>
      <!--日志信息-->
      <parameter name="@MethodName" layout="${callsite:methodName=true}" />
      <parameter name="@ExpType" layout="${exception:format=type}" />
      <parameter name="@ExDetail" layout="${exception:format=tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="*" level="Fatal" writeTo="database"/>
    <logger name="*" level="Warn" writeTo="database"/>
    <logger name="*" level="Debug" writeTo="database"/>
    <logger name="*" level="Error" writeTo="database"/>
    <logger name="*" level="Info" writeTo="database"/>
    <logger name="*" level="Trace" writeTo="database"/>
  </rules>
</nlog>